.auth__main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    margin: 0px;
    height: 100vh;
    width:100%
}

.auth__box-container {
    background-color: white;
    box-shadow: 0px 3px $dark-grey;
    border-radius: 2px;
    padding: 20px;
    width: 250px;
}
//utilizamos una funcion propia de sas, llamada darken, para oscurecer el color principal
.auth__title{
    color:darken($color: $primary, $amount: 20);
}

.auth__input{
    color:$dark-grey;
    border: 0px;
    border-bottom: 1px solid $light-grey;
    font-size: 16px;
    margin-bottom: 10px;
    height: 20px;
    width: 100%;
    transition: border-bottom .3s ease;

    &:focus{
        border-bottom: 1px solid $primary;
        outline:none;
    }
}



.auth__alert-error{
    background-color: red;
    border-radius: 5px;
    color: white;
    display:flex;
    justify-content: center;
    margin-bottom: 10px;
    padding:5px
}
