.btn{
    background-color: transparent;
    border: none;
    color: white;
    cursor:pointer;
    font-size: 20px; //Tamaño de la letra
    padding:7px 10px 7px 10px;

    transition: color .3s ease;
    &:focus{
        outline:none;

    }
    
    &:hover{
        color:darken($color: white, $amount: 20)
    }

}

.btn-primary{
    background-color: $primary;
    border-radius: 100px;

    &:disabled {
        background-color: lighten($color: blue, $amount: 15);
    }

    &:hover{
        background-color:darken($color: blue, $amount: 15)
    }
    
}

.btn-block{
    width: 100%;
}

