.btn{
    background-color: transparent;
    border: none;
    color: white;
    cursor:pointer;
    font-size: 20px; //Tamaño de la letra
    padding:7px 10px 7px 10px;

    transition: color .3s ease;
    &:focus{
        outline:none;

    }
    
    &:hover{
        color:darken($color: white, $amount: 20)
    }

}

.btn2 {
  padding: .375rem 2.5rem;
  border-radius: .25rem;
  background-color: rgb(214, 62, 52);
  color: rgb(0, 0, 0);
  transition: background-color .15s ease-in-out;
}

.btn-btn2:hover, .btn-btn2:focus {
  background-color: #d90000;
}

.btn-btn2:active {
  background-color: #cc0000;
}

.btn-primary{
    background-color: $primary;
    border-radius: 100px;

    &:disabled {
        background-color: lighten($color: blue, $amount: 15);
    }

    &:hover{
        background-color:darken($color: blue, $amount: 15)
    }
    
}

.btn-vainas {
    background-color: $primary;
    border-radius: 100px;

    &:disabled {
        background-color: lighten($color: red, $amount: 15);
    }

    &:hover{
        background-color:darken($color: red, $amount: 15)
    }

}