.medical__content{
    background-color: lighten($color: blue, $amount: 10);
    color:white;
    text-align: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}