.medical__content{
    color:white;
    text-align: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.medical__text{
    padding:10px 40px 0px 10px; //arriba derecha abajo izquierda
}
