.Vaina{
    border: 3px solid red;
    background: #000000;
    border-radius: 30px;
    display: inline-block;
    margin: 20px;
    padding: 11em 6em;
    margin-top: 3em;
}

.btn2{
    display: flex;
    margin-left: 70px;
}

.conjunto_vainas{
    display: inline-table;
}