.Vaina{
    border: 3px solid red;
    background: #000000;
    border-radius: 30px;
    display: inline-block;
    margin: 20px;
    padding: 11em 6em;
    margin-top: 1em;
}

.nombre_enfermedad { 
    float: left;
    margin-top: -5.5em;
    font-size: 30px;
    margin-left: -65px;
}

.CheckParametros{
    text-align: left;
    
}

.btn2{
    display: flex;
    margin-left: 45px;
}

.conjunto_vainas{
    display: inline-table;
}

section {
    border: 2px rgba($color: #000000, $alpha: 1.0);
    width: 152px;
    height: 200px;
    margin: 0.1em auto;
    background-color: black;
}

.BotonCambio {
    color: rgb(0, 0, 0);
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5;
    padding: .5em;
    text-align: center;
    background-color: rgba($color: #15ff00, $alpha: 1.0);
    cursor: pointer;
}